@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900);
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', Arial, serif;
  font-weight: 400;
  background-color: rgb(14, 14, 19);
}

.IndexPageTitleContianer h1 {
  text-align: center;
}

.title-logo {
  font-family: 'Exo 2', Arial, serif;
  font-weight: 900;
  text-align: center;
  font-size: 60px;
  padding-bottom: -1%;
  color: #00d8ad;
  padding-top: 20%;
  overflow: hidden;
}

.IndexPageTitleContianer p {
  text-align: center;
  color: #2F3132;
  margin-top: -2%;
}

.player-titles {
  color: white;
  font-weight: 100;
  font-size: 10px;
}

input[type=text] {
  color: #9e9e9e;
}
input[type=password] {
  color: #9e9e9e;
}

input#email.valid {
  border-bottom: 1px solid #5e44fd;
  box-shadow: 0 1px 0 0 #5e44fd;
  color: #d1d1d1;
}

input#password.valid {
  border-bottom: 1px solid #5e44fd;
  box-shadow: 0 1px 0 0 #5e44fd;
  color: #d1d1d1;
}

/* ----------------------------------- Header ----------------------------------- */

.HeaderLogo {
  font-family: 'Exo 2', Arial, serif;
  font-weight: 900;
  color: #00d8ad;
  font-size: 2em;
}

/* ----------------------------------- Loader ----------------------------------- */
#loader {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 90px;
}
#loader ul {
  margin: 0;
  list-style: none;
  width: 90px;
  position: relative;
  padding: 0;
  height: 10px;
}
#loader ul li {
  position: absolute;
  width: 10px;
  height: 0;
  background-color: #5E44FD;
  bottom: 0;
}
@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}
#loader li:nth-child(1) {
  left: 0;
  animation: sequence1 1s ease infinite 0;
}
#loader li:nth-child(2) {
  left: 15px;
  animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3) {
  left: 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4) {
  left: 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}
#loader li:nth-child(5) {
  left: 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6) {
  left: 75px;
  animation: sequence2 1s ease infinite 0.5s;
}

.data-switch {
  z-index: 1000;
  margin-top: 1em;
  margin-left: 37em;
  background-color: red;
  position: absolute;
}

.chip-container {
  z-index: 1000;
  position: absolute;
  margin-left: 31em;
  margin-top: 1em;
}

/*________________________________________________________________________*/
